<div class="auth-layout">
    <div class="auth-container">
        <h1 class="auth-title">Khôi phục mật khẩu</h1>

        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="auth-form">
            <!-- Email -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required />
                <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">
                    Email là bắt buộc
                </mat-error>
                <mat-error *ngIf="forgotForm.get('email')?.hasError('email')">
                    Email không hợp lệ
                </mat-error>
            </mat-form-field>

            <!-- Submit -->
            <button mat-raised-button color="primary" type="submit" [disabled]="forgotForm.invalid"
                class="custom-login-btn">
                Gửi mã xác thực
            </button>
        </form>

        <!-- Link quay lại -->
        <div class="login-links">
            <p>
                Quay lại <a routerLink="/auth/login">Đăng nhập</a>
            </p>
        </div>
    </div>
</div>