@use "../../../styles/param";
@use "../../../styles/common";

:host {
  margin: param.$grid * 5 0;
}

.wine-banner {
  background-image: url("../../../assets/background.png"); // Thay đường dẫn nếu cần
  background-size: cover;
  background-position: center right; // Đẩy hình sang bên phải
  background-repeat: no-repeat;
  height: 700px;

  display: flex;
  align-items: center;
  justify-content: flex-start; // Canh nội dung về bên trái

  .content {
    padding-left: 4rem;
    max-width: 40%;
    color: rgb(34, 34, 34);

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    button {
      border: 1px solid rgb(34, 34, 34);
      background-color: transparent;
      padding: 0.5rem 1rem;
      cursor: pointer;
      color: rgb(34, 34, 34) k;
      font-weight: bold;
      transition: 0.2s;

      &:hover {
        background-color: rgb(34, 34, 34);
        color: rgb(255, 255, 255);
      }
    }
  }
}

.hot-offers,
.trent-offers {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.trent-offers {
  width: 930px;

  .product {
    width: 50%;
  }

  button {
    margin-top: -(param.$grid * 2.5);
    width: 90%;
  }
}

.head {
  display: flex;
  flex-direction: row;
  padding: param.$grid * 3 param.$grid * 2;

  .line {
    flex-grow: 1;
  }

  hr {
    border-top: 2px solid param.$textColor;
    margin: param.$grid * 3 0;
  }

  .title {
    margin: 0 param.$grid;
    text-align: center;
    width: 35%;
  }
}

.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin-bottom: param.$grid * 3;
  text-align: center;
  width: 370px;
  padding: 0 param.$grid;
  box-sizing: border-box;

  > div {
    margin-bottom: param.$grid;
  }

  .wrapper {
    align-items: center;
    box-sizing: border-box;
    padding: param.$grid * 2;
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

img {
  max-height: 100%;
  max-width: 100%;
}

.sub-title {
  font-size: 1.2rem;
}

.price {
  font-size: 1.9rem;
  font-weight: 700;
}

button {
  background: transparent;
  border: 2px solid param.$textColor;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: param.$grid * 3.5;
  padding: param.$grid * 2 param.$grid * 4;
  text-transform: uppercase;

  &:hover {
    background: param.$primaryColor;
    border-color: param.$primaryColor;
    box-shadow: 0 10px 30px rgba(79, 70, 228, 0.8);
    color: #ffffff;
  }
}

.shipping-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.element {
  background-color: param.$whiteSmokeColor;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.9rem;
  padding: param.$grid * 4;
  text-align: center;
  width: 350px;
  margin: param.$grid;
}

.subscribe {
  background-color: param.$whiteSmokeColor;
  margin: param.$grid * 10 0;
  padding: param.$grid * 5 0;
}

.subscribe-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .title {
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
  }

  .join {
    display: flex;
    flex-direction: row;
    width: 360px;

    input {
      border: 1px solid param.$primaryColor;
      border-radius: 4px 0 0 4px;
      box-sizing: border-box;
      height: 44px;
      padding: 0 param.$grid * 1.5;
      width: 230px;
    }

    button {
      background: param.$primaryColor;
      box-sizing: border-box;
      border: 1px solid param.$primaryColor;
      border-radius: 0 4px 4px 0;
      color: #fff;
      font-size: 1rem;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      padding: param.$grid * 1.5 param.$grid * 2;
    }
  }
}

@media (max-width: 1200px) {
  .trent-offers {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .subscribe-box {
    .join {
      width: auto;

      input {
        height: 41px;
        width: 200px;
      }
    }
  }
}

@media (max-width: 700px) {
  .trent-offers {
    .product {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  :host {
    margin: 0;
  }

  .subscribe {
    margin: 0;
  }
}
